.header {}


.nav {
    display: flex;
    margin-bottom: 20px;
}

.nav__list {
    display: flex;
}

.nav__item {
    padding-top: 11px;
    margin-left: 4px;

    @media screen and (min-width: 1200px) {
        margin-left: 8px;
    }
}

.nav__link {

    font-size: 12px;
    line-height: 14px;
    color: black;
    background-color: #ffffff;
    border-radius: 100px;
    padding: 10px 22px;

    border: 2px solid black;

    @media screen and (min-width: 768px) {
        margin-bottom: 151px;
        width: 187px;
        padding: 13px 32px;

    }
}

.nav__link-active{
    color: #fff;
    background-color: black;
}

.nav__link:is(:hover, :focus) {
    background-color: black;
    color: white;
}

.nav__input {

    border-radius: 100px;
    width: 252px;
    height: 42px;

    padding-left: 15px;

    @media screen and (min-width: 768px) {

        width: 187px;

    }


}

.nav__form {

    position: relative;

    @media screen and (max-width: 768px) {
        display: none;
        position: relative;
        margin-bottom: 105px;

    }

    @media screen and (min-width: 1280px) {

        width: 187px;

    }
}

.nav__form-mobile {
    position: relative;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.nav__search {
    display: none;
}

.nav__icon {
    position: absolute;
    // top: 50%;
    // transform: translate(0, -50%);
    // fill: green;
    width: 30px;
    height: 16px;
    // background-color: red;
}

.logo {
    margin-top: 312px;

    @media screen and (min-width: 768px) {
        margin-top: 105px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 151px;
    }
}

.logo__link {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 768px) {
        justify-content: flex-start;
    }

    @media screen and (min-width: 1280px) {
        gap: 16px;
    }
}

.logo__icon {

    @media screen and (min-width: 768px) {
        width: 40px;
        height: 40px;
    }

    @media screen and (min-width: 1280px) {
        width: 59px;
        height: 59px;
    }
}

.logo__text {
    font-size: 32px;
    line-height: 38px;
    color: white;
    font-style: normal;
    font-weight: 500;

    @media screen and (min-width: 768px) {
        font-size: 40px;
        line-height: 47px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 64px;
        line-height: 75px;
    }
}


.watched__list {
    display: flex;
    margin-left: auto;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.watched__link {
    font-size: 12px;
    line-height: 14px;
    color: #B92F2C;
    background-color: #ffffff;
    border-radius: 100px;
    padding: 10px 22px;

    border: 2px solid black;




}

.watched__link:is(:hover, :focus) {
    background-color: #B92F2C;
    color: #ffffff;
}

.watched__list-mobile {
    justify-content: center;
    display: flex;
    margin-top: 16px;

    @media screen and (min-width: 768px) {
        display: none;
    }
}