.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.library-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.library-films {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -32px;
    margin-bottom: -32px;
    justify-content: flex-start;
  }
  @media screen and (min-width: 1280px) {
    margin-left: -16px;
  }
}

.films__item {
  width: 280px;
  max-width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    box-shadow: 7px -7px 21px rgba(0, 0, 0, 0.35);
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 64px) / 2);
    margin-left: 32px;
    margin-bottom: 32px;
    &:last-child {
      margin-right: auto;
    }
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - 48px) / 3);
    margin-left: 16px;
    &:last-child {
      margin-right: auto;
    }
  }
}
.films__img {
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 12px;
  }

  & > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.films__description {
  padding: 2px 5px;
}

.films__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 2px;
  @media screen and (min-width: 768px) {
    line-height: 1.33;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.films__meta {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: #b92f2c;

  @media screen and (min-width: 768px) {
    line-height: 1.33;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.films__data::before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 12px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: #b92f2c;
}
