button {
  margin: 0;
  padding: 0;
}

.modal {
  position: relative;
  padding: 48px 20px 40px 20px;
  min-width: 280px;
  overflow: scroll;

  outline: solid 1px blue;
}

.modal__picture {
  min-width: 100%;
  height: auto;
}
.modal__container-picture {
  margin-bottom: 20px;
}

.modal__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
}
.modal__char {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
}
.modal__char-mb {
  margin-bottom: 20px;
}
.modal__char-name {
  width: 108px;

  color: #8c8c8c;
}

.modal__char-api {
  width: 250px;
}
.modal__char-api:last-child {
  margin-bottom: 0;
}
.modal__vote {
  padding: 1px 10px;
  border-radius: 8px;
  color: #fff;
  background-color: #b92f2c;
}

.modal__about-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
}
.modal__about-text {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
}
.modal__btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.modal__btn {
  display: inline-flex;
  align-items: center;
  min-width: 111px;
  height: 34px;
  padding: 10px 12px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;

  background-color: #fff;
  color: #b92f2c;
  border-radius: 21px;

  transition: color 250ms linear, background-color 250ms linear,
    border 250ms linear;
  border: 1px solid #000000;
}
.modal__btn:hover,
.modal__btn:focus {
  background-color: #b92f2c;
  color: #fff;
  border: 1px solid #b92f2c;
}
.modal__btn-mr {
}
.modal__close {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;

  border: none;
  cursor: pointer;

  transition: fill 250ms linear;
}

.modal__close:hover .modal__close-icon {
  fill: #b92f2c;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .modal {
    width: 440px;
  }
  .modal__picture {
    min-width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    display: flex;
    justify-content: center;
    padding: 40px 72px 64px 40px;
    width: 704px;
    height: 552px;
    overflow: hidden;
  }
  .modal__picture {
    min-width: 264px;
    height: 373px;
  }
  .modal__container-picture {
    margin-right: 64px;
  }
  .modal__char-api {
    width: 156px;
  }

  .modal__btn-container {
    justify-content: space-between;
  }
  .modal__btn {
    padding: 12px 18px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    display: flex;
    padding: 40px 12px;
    width: 806px;
    height: 558px;
  }

  .modal__picture {
    min-width: 375px;
    height: 478px;
  }
  .modal__container-picture {
    margin-right: 16px;
    width: 375px;
  }
  .modal__title {
    font-size: 30px;
    line-height: 1.17;
  }
  .modal__char-name {
    width: 152px;
  }
  .modal__char-api {
    width: 230px;
  }

  .modal__btn-container {
    display: block;
  }
  .modal__btn {
    height: 42px;
    padding: 14px 24px;
  }
  .modal__btn-mr {
    margin-right: 8px;
  }
}
