body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    font-weight: 500;
    background-color: #F0F0F0;

}



h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
input {
    margin: 0;
    padding: 0;
}


button,
a,
input {
    cursor: pointer;
}


ul {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}