@import './normalize';
@import './fonts';
@import './utils/hidden';

@import './common';
@import './spinner';
@import './header';
@import './container';
@import './containerBody';
@import './selectors';
@import './modall';
@import './galeryCard';
@import './library-container';
@import './footer';
@import './modal-footer-team.scss';
@import './switch';
