<div class="backdrop-modal team__backdrop--hidden">
    <div class="team__modal">
         <button class="team__modal--close close-modal-team">
           <svg class="team__icon team__icon--close" width="25" height="25">
             <use href="/src/images/close-icon.svg#icon-close"></use>
           </svg>
         </button>
         <h2 class="team__title">Development Team</h2>
         <div class="team__container">
          <ul class="team__list">

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="./images/foto_team/Oleg_Shevchuk.jpg" 
                      alt="Oleg Shevchuk" width="150" height="150">
                  </div>

                  <h3 class="team__developer">Oleg Shevchuk</h3>
                  <p class="team__prof">Team-lead</p>
              </li>

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="./images/foto_team/Olga_Kozaryk.jpg" 
                      alt="Olga Kozaryk" width="150
                      " height="150
                      ">
                  </div>

                  <h3 class="team__developer">Olga Kozaryk</h3>
                  <p class="team__prof">Scrum Maste</p>
              </li>

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="./images/foto_team/Anastasia_Gorelkina.jpg" 
                      alt="Anastasia Gorelkina" width="150
                      " height="150
                      ">
                  </div>

                  <h3 class="team__developer">Anastasia Gorelkina</h3>
                  <p class="team__prof">Developer</p>
              </li>

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="./images/foto_team/Angelika_Lisovetska.jpg" 
                      alt="Angelika Lisovetska" width="150
                      " height="150
                      ">
                  </div>

                  <h3 class="team__developer">Angelika Lisovetska</h3>
                  <p class="team__prof">Developer</p>
              </li>

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="./images/foto_team/Igor_Ling.jpg" 
                      alt="Igor Ling" width="150
                      " height="150
                      ">
                  </div>

                  <h3 class="team__developer">Igor Ling</h3>
                  <p class="team__prof">Developer</p>
              </li>

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="./images/foto_team/Inna_Dmytrenko.jpg" 
                      alt="Inna Dmytrenko" width="150
                      " height="150
                      ">
                  </div>

                  <h3 class="team__developer">Inna Dmytrenko</h3>
                  <p class="team__prof">Developer</p>
              </li>

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="./images/foto_team/Ivan _Bizhko.jpg" 
                      alt="Ivan Bizhko" width="150
                      " height="150
                      ">
                  </div>

                  <h3 class="team__developer">Ivan Bizhko</h3>
                  <p class="team__prof">Developer</p>
              </li>

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="./images/foto_team/Oleksandr_Martyniuk.jpg" 
                      alt="Oleksandr Martyniuk" width="150
                      " height="150
                      ">
                  </div>

                  <h3 class="team__developer">Oleksandr Martyniuk</h3>
                  <p class="team__prof">Developer</p>
              </li>

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="./images/foto_team/Roman_Mazur.jpg" 
                      alt="Roman Mazur" width="150
                      " height="150
                      ">
                  </div>

                  <h3 class="team__developer">Roman Mazur</h3>
                  <p class="team__prof">Developer</p>
              </li>

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="./images/foto_team/Valentina_Pokholenko.jpg" 
                      alt="Valentina Pokholenko" width="150
                      " height="150
                      ">
                  </div>

                  <h3 class="team__developer">Valentina Pokholenko</h3>
                  <p class="team__prof">Developer</p>
              </li>

              <li class="team__item">
                  <div class="team__img-wrapper">
                      <img class="team__img" 
                      src="./images/foto_team/Yevgeny_Stepanenko.jpg" 
                      alt="Yevgeny Stepanenko" width="150
                      " height="150
                      ">
                  </div>

                  <h3 class="team__developer">Yevgeny Stepanenko</h3>
                  <p class="team__prof">Developer</p>
              </li>

          </ul>     
        </div>
</div>         
