<div class="position-rel"></div>
<div class="modal">
  <div class="modal__container-picture">
    <img class="modal__picture" src="./images/Rectangle 18.jpg" alt="" />
  </div>
  <div>
    <h2 class="modal__title">A FISTFUL OF LEAD</h2>
    <div class="modal__char">
      <span class="modal__char-name">Vote / Votes</span>
      <p class="modal__char-api">
        <span class="modal__char-api modal__vote">7.3</span> /
        <span class="modal__char-api">1260</span>
      </p>
    </div>
    <p class="modal__char">
      <span class="modal__char-name">Popularity</span
      ><span class="modal__char-api">100.2</span>
    </p>
    <p class="modal__char">
      <span class="modal__char-name">Original Title</span
      ><span class="modal__char-api"> A FISTFUL OF LEAD</span>
    </p>
    <p class="modal__char modal__char-mb">
      <span class="modal__char-name">Genre</span
      ><span class="modal__char-api">Western</span>
    </p>

    <p class="modal__about-title">About</p>
    <p class="modal__about-text" data-id="594667">
      Four of the West’s most infamous outlaws assemble to steal a huge stash of
      gold from the most corrupt settlement of the gold rush towns. But not all
      goes to plan one is killed and the other three escapes with bags of gold
      hide out in the abandoned gold mine where they happen across another gang
      of three – who themselves were planning to hit the very same bank! As
      tensions rise, things go from bad to worse as they realise the bags of
      gold are filled with lead... they’ve been double crossed – but by who and
      how?
    </p>
    <div class="modal__btn-container">
      <button
        class="modal__btn modal__btn-mr"
        id="modal-btn-watched"
        type="button"
        data-id="594767"
      >
        ADD TO WATCHED
      </button>
      <button
        class="modal__btn modal__btn-mn"
        type="button"
        id="modal-btn-queue"
        data-id="594767"
      >
        ADD TO QUEUE
      </button>
    </div>
    <button class="modal__close" type="button">
      <svg width="30" height="30">
        <use
          class="modal__close-icon"
          href="./images/symbol-defs.svg#icon-close_40px"
        ></use>
      </svg>
    </button>
  </div>
</div>
